body[device="true"] .application {
  .wrapper {
    .overlay {
      .popup {
        width: 400px;

        background-color: #38424e;

        .popup-header {
          padding-left: 15px;
          padding-right: 15px;

          height: 48px;

          .popup-heading {
            font-size: 13px;
          }
          .popup-close-btn {
            width: 13px;
            height: 13px;
          }
        }

        &.leave-table {
          .popup-body {
            padding-top: 21px;

            height: 128px;

            img {
              width: 52px;
              height: 52px;
            }
            p {
              margin-top: 18px;

              font-size: 15px;
            }
          }
          .popup-action {
            padding-left: 15px;
            padding-right: 15px;

            height: 90px;

            button {
              width: 106px;
              height: 40px;

              font-size: 14px;
            }
          }
        }
        &.player-note {
          width: 490px;

          .popup-body {
            padding: 15px;

            height: 140px;

            textarea {
              font-size: 13px;

              &::placeholder {
                font-size: 13px;
              }
            }
          }
          .popup-action {
            padding-left: 15px;
            padding-right: 15px;

            button {
              width: 106px;
              height: 39px;

              font-size: 14px;
            }
            .player-note-color {
              padding-left: 6px;
              padding-right: 6px;

              width: 63px;

              span {
                width: 27px;
                height: 27px;
              }
              img {
                width: 12px;
              }
            }
          }
        }
        &.add-chips {
          .popup-body {
            height: 160px;

            .not-allow-buying {
              padding-top: 15px;

              .alert-icon {
                img {
                  max-width: 42px;
                }
              }
              .alert-text {
                margin-top: 10px;

                font-size: 13px;
              }
              .divider {
                margin-top: 15px;
              }
              .available-balance {
                margin-top: 12px;

                label {
                  font-size: 10px;

                  &:last-child {
                    font-size: 12px;
                  }
                }
              }
              .in-buy {
                margin-top: 8px;

                font-size: 10px;
              }
            }
          }
          .popup-action {
            height: 70px;

            button {
              width: 84px;
              height: 32px;

              font-size: 11.5px;

              &:first-child {
                margin-right: 25px;
              }
            }
          }
        }
      }
    }
  }
}
body[device="true"] .m-layout {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .top-panel {
    padding-top: 34px;
    padding-left: 13px;
    padding-right: 13px;

    width: 100%;
    height: auto;

    .content-row {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:nth-child(2) {
        margin-top: 3px;
      }
      &:nth-child(3) {
        margin-top: 3px;
      }
    }

    .chips-refill-btn {
      button {
        width: 63px;
        height: 34px;

        border-radius: 4px;

        background-color: #44a802;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 23px;
        }
      }
    }

    .menu-btn {
      margin-left: auto;
      margin-right: 0;

      button {
        width: 34px;
        height: 34px;

        border-radius: 4px;

        background-color: #242b34;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 19px;
        }
      }
    }

    .fullscreen-btn {
      margin-left: auto;
      margin-right: 0;

      button {
        width: 34px;
        height: 34px;

        border-radius: 4px;

        background-color: #242b34;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 19px;
        }
      }
    }

    .leave-table-btn {
      margin-left: auto;
      margin-right: 0;

      button {
        width: 34px;
        height: 34px;

        border-radius: 4px;

        background-color: #242b34;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 14px;
        }
      }
    }
  }

  .bottom-panel {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: auto;
    margin-bottom: 0;

    width: 100%;
    height: auto;

    .content-row {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:last-child {
        margin-top: 7px;
      }
    }

    .chat-btn {
      button {
        width: 46px;
        height: 46px;

        border-radius: 100%;

        background-color: #38424e;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 22px;
        }
      }
    }

    .time-indicator {
      padding-left: 7px;
      padding-right: 7px;
      margin-left: auto;
      margin-right: 0;

      width: 104px;
      height: 40px;

      border-radius: 40px;

      background-color: #38424e;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 7px;

        max-width: 24px;
      }

      label {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 9.23px;
        color: #dee9f7;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .in-game-action-tab {
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 10px;

      width: 414px;
      min-width: 260px;
      height: 86px;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      background-color: #242b34;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .in-game-action-btn {
        width: 127px;
        height: 63px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
          width: 100%;
          height: 100%;

          border-radius: 4px;
          border-top: 2px solid;

          background-color: #dee9f7;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 13px;
          color: #ffffff;
          text-transform: uppercase;
          text-shadow: 0 0 1px rgba(0, 0, 0, .3);
        }

        &:nth-child(1) {
          button {
            border-color: #ff4747;

            background: rgb(241, 32, 32);
            background: -moz-radial-gradient(ellipse at top, rgba(241, 32, 32, 1) 0%, rgba(194, 8, 8, 1) 100%);
            background: -webkit-radial-gradient(ellipse at top, rgba(241, 32, 32, 1) 0%, rgba(194, 8, 8, 1) 100%);
            background: radial-gradient(ellipse at top, rgba(241, 32, 32, 1) 0%, rgba(194, 8, 8, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f12020", endColorstr="#c20808", GradientType=1);
          }
        }

        &:nth-child(2) {
          button {
            border-color: #a1ff5e;

            background: rgb(103, 240, 0);
            background: -moz-radial-gradient(ellipse at top, rgba(103, 240, 0, 1) 0%, rgba(69, 169, 2, 1) 100%);
            background: -webkit-radial-gradient(ellipse at top, rgba(103, 240, 0, 1) 0%, rgba(69, 169, 2, 1) 100%);
            background: radial-gradient(ellipse at top, rgba(103, 240, 0, 1) 0%, rgba(69, 169, 2, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#67f000", endColorstr="#45a902", GradientType=1);
          }
        }

        &:nth-child(3) {
          button {
            border-color: #ffcc6b;

            background: rgb(247, 180, 54);
            background: -moz-radial-gradient(ellipse at top, rgba(247, 180, 54, 1) 0%, rgba(190, 126, 5, 1) 100%);
            background: -webkit-radial-gradient(ellipse at top, rgba(247, 180, 54, 1) 0%, rgba(190, 126, 5, 1) 100%);
            background: radial-gradient(ellipse at top, rgba(247, 180, 54, 1) 0%, rgba(190, 126, 5, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7b436", endColorstr="#be7e05", GradientType=1);
          }
        }
      }
    }

    .in-game-betting-tab {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 7px;
      margin-left: auto;
      margin-right: 0;

      width: 362px;
      height: 86px;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      background-color: #242b34;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .range-betting {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;

        .range-picker {
          width: 254px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .range-minmax {
            padding-left: 17px;
            padding-right: 17px;
            padding-bottom: 3px;

            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            small {
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              font-size: 8.74px;
              color: #000;

              &:first-child {
                color: #ffb26c;
              }

              &:last-child {
                color: #8495ac;
              }
            }
          }

          .range-input {
            width: 255px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button {
              padding-bottom: 1px;

              width: 13px;
              height: 13px;

              border-radius: 4px;

              background-color: #444f5e;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;

              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              font-size: 13.73px;
              color: #d1e6ff;
              line-height: 8px;
            }

            input {
              margin-left: 4px;
              margin-right: 4px;

              width: 220px;
            }
            input[type=range] {
              -webkit-appearance: none;
              width: 100%;
              background: transparent;
            }
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
            }
            input[type=range]:focus {
              outline: none;
            }
            input[type=range]::-ms-track {
              width: 100%;
              cursor: pointer;

              background: transparent;
              border-color: transparent;
              color: transparent;
            }

            input[type=range]::-webkit-slider-thumb {
              margin-top: -2px;

              height: 17px;
              width: 17px;

              border-radius: 17px;

              background-image: url("./range-handler.png");
              background-size: 17px 17px;
              background-position: center;

              cursor: pointer;
              -webkit-appearance: none;
            }
            input[type=range]::-moz-range-thumb {
              height: 16px;
              width: 16px;

              border-radius: 16px;

              background-image: url("./range-handler.png");
              background-size: 16px 16px;
              background-position: center;

              cursor: pointer;
              -webkit-appearance: none;
            }
            input[type=range]::-ms-thumb {
              height: 16px;
              width: 16px;

              border-radius: 16px;

              background-image: url("./range-handler.png");
              background-size: 16px 16px;
              background-position: center;

              cursor: pointer;
              -webkit-appearance: none;
            }

            input[type=range]::-webkit-slider-runnable-track {
              width: 100%;
              height: 13px;

              border-radius: 13px;

              background: #414a56;

              cursor: pointer;
            }
            input[type=range]:focus::-webkit-slider-runnable-track {
              background: #414a56;
            }
            input[type=range]::-moz-range-track {
              width: 100%;
              height: 13px;

              border-radius: 13px;

              background: #414a56;

              cursor: pointer;
            }
            input[type=range]::-ms-track {
              width: 100%;
              height: 13px;

              border-radius: 13px;

              background: #414a56;

              cursor: pointer;
            }
          }
        }

        .betting-value {
          margin-left: auto;
          margin-right: 0;

          input {
            width: 80px;
            height: 26px;

            border: 1px solid #323d4a;
            border-radius: 10px;

            background-color: #1d232b;

            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 10.72px;
            color: #ffffff;
            text-align: center;
          }
        }
      }

      .quick-multiply {
        margin-top: 8px;

        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          width: 79px;
          height: 31px;

          background-color: #dae1e9;

          border-radius: 4px;

          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 13.8px;
          color: #1f1f1f;
        }
      }
    }
  }
}
